@charset "UTF-8";


/* VERSÃO PARA TABLETS */
@media screen and (min-width:768px) and (max-width:992px) {
    
    body{
        background-image: linear-gradient(to top, #46237A, #87919E);
    }

    #login {
        width: 80vw;
    }

    #imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    #formulario {
        float: right;
        width: 70%;
    }
}

/* VERSÃO PARA DESKTOP */
@media screen and (min-width:992px) {

    body{
        background-image: linear-gradient(to top, #46237A, #87919E);
    }

    #login {
        width: 950px;
    }

    #imagem {
        float: left;
        width: 50%;
        height: 100%;
    }

    #formulario {
        float: right;
        width: 50%;
    }
}